* {
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 16px;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    margin: 0;
    padding: 0;    
}

main > h1 {
    text-justify: left;
    
}

.homepagedisplay {
    background-image: url('images/gallery-interior2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header > h1 {
    font-weight: 700;
    padding-left: 2em;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
    display: inline;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(34, 29, 93);
}

.mainpageblurb {
    display: block;
    background-color: white;
    height: 10em;
    width: 18em;
    text-align: center;
    padding: 2em;
    margin: 1em;
}