* {
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 16px;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

main h1 {
    text-justify: left;
    padding: 2em;
    margin: 1em;
    font-weight: 700;

}

header {
    background-color: grey;
}


header img {
    height: 65px;
    padding-left: 20px;
    display: block;
    align-self: center;

}


.homepagedisplay {
    background-image: url('images/gallery-interior2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Primary navigation bar */

button#hamburgerBtn {
    background: none;
    border: none;
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}

nav {
    background-color: pink;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav a {
    display: block;
    padding: .8rem 0;
    color: blueviolet;
    text-align: center;
    text-decoration: none;
}

nav li.active {
    background-color: rgba(0, 0, 0, 0.5);
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

nav ul.open {
    display: block;
}

nav ul {
    display: none;
}

/* end primary nav styling */


/* footer styling */
footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

footer h2 {
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
    text-align: center;
}

.footerlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

/* end footer styling */

.mainpageblurb {
    display: block;
    background-color: white;
    height: 10em;
    width: 18em;
    text-align: center;
    padding: 2em;
    margin: 1em;
}

/* styling for Contact Form 

.container {
    width: 100%;
    height: vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: none;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 65%;
    max-width: 500px;
    min-width: 400px;
    border-radius: 10px;
}

form h3 {
    color: #555;
    font-weight: 800;
    font-size: large;
    margin-bottom: 20%;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}

form button {
    padding: 15px;
    background: #6da7b7;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}*

/* List of Artists Page */

.artist-flexbox {
    display: flex;
    flex-direction: column;
    
}

.artist-name {
    background: rgb(137, 137, 138);
    max-width: 300px;
    min-width: min-content;
    text-align: center;
    margin: 1.2rem 1.2rem 1.2rem 2rem;
    padding: 1.5rem;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
   
}

/* reset */

.form-container{
    background: none;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 65%;
    max-width: 800px;
    min-width: 400px;
    border-radius: 10px;
}

#fs-fm {
    width: 100%;
    height: vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 65%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: none;
    background-color: rgba(229, 229, 229, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
}

#fs-frm select {
    text-transform: none;
}

#fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
    width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
}