* {
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 16px;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

main h1 {
    text-justify: left;
    padding: 2em;
    margin: 1em;
    font-weight: 700;

}
/*
header {
    background-color: grey;
}
*/

header img {
    height: 65px;
    padding-left: 20px;
    display: block;
    align-self: center;

}

.homepagedisplay {
    background-image: url('images/gallery-interior2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Primary navigation bar */

button#hamburgerBtn {
    background: none;
    border: none;
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}
/*
nav {
    background-color: pink;
}
*/
nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav a {
    display: block;
    padding: .8rem 0;
    color: blueviolet;
    text-align: center;
    text-decoration: none;
}

nav li.active {
    background-color: rgba(0, 0, 0, 0.5);
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

nav ul.open {
    display: block;
}

nav ul {
    display: none;
}
/* end primary nav styling */

 /* Contact Form*/
.contact-form {
     height: 100vh;
     width: 100%;
     background-color: aliceblue;
     display: flex;
     align-items: center;
     justify-content:center;
     flex-direction: column;
 }

 .cont-frm-container {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
 }

 .form-group {
     width: 100%;
     margin-top: 20px;
     font-size: 20px;
 }

 .form-group input, 
 .form-group textarea {
     width: 100%;
     padding: 5px;
     font-size: 18px;
     border: 1px solid rgba(128, 128, 128, 0.199);
     margin-top: 5px;
 }

 textarea {
     resize: vertical;
 }

.cont-frm-button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 8px;
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}

.cont-frm-button[type="submit"]:hover {
    background-color: rgb(214, 226, 236);
}

#status {
    width: 80%;
    max-width: 450px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}


#status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }

}
/* end of Contact Form styling */

/* footer styling */
footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

footer h2 {
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
    text-align: center;
}

.footerlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

/* end footer styling */

.mainpageblurb {
    display: block;
    background-color: white;
    height: 10em;
    width: 18em;
    text-align: center;
    padding: 2em;
    margin: 1em;
}

