html,
body {
    height: 100%;

}


html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 1em;
    display: grid;
    grid: auto-flow min-content / repeat(12);

}

header {

    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

footer {
    margin: 0;
    padding: 0;
    grid-column: 1 / 13;
}

.footerrow {
    clear: both;
}

.footercolumn {
    float: left;
    padding: 0 2vw;
    margin: 0 0 .75rem 0;
}


.limited {
    max-width: 1150px;
    margin: auto;
}

.small-12 {
    width: 100%;
}

main {
    grid-column: 1 / 13;
    grid-row: 2 / 12;
}

@media only screen and (min-width: 768px) {

    .medium-6 {
        width: 50%;
    }

    header img {
        height: 100px;
        float: left;
    }

    .topnav {

        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
    }
    
    .topnav > li {
        display: inline;
        float: right;
    }
    
    .topnav >li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .topnav > li a:hover {
        background-color: rgb(34, 29, 93);
    }
}

@media only screen and (min-width: 1024px) {

    .large-3 {
        width: 25%;
    }

}


.collapsefix::after {
    content: "";
    display: table;
    clear: both;
}