html, body {
    height: 100%;
   
}

body {
    margin: 1em;
    display: grid;
    grid: auto-flow min-content / repeat(12);
   
}

header {
    grid-column: 1 / 13; 
    grid-row: 1 / 2;
}

footer {
    margin: 0;
    padding: 0;
    grid-column: 1 / 13; 
}
main {
    grid-column: 1 / 13;
    grid-row: 2 / 12;   
}
