
html,
body {
    height: 100%;

}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: grid;
    grid: auto-flow min-content / repeat(12);

}
/*
header {
    grid-column: 1 / 13;
}
*/

footer {
    margin: 0;
    padding: 0;
    grid-column: 1 / 13;
}

.footerrow {
    clear: both;
}

.footercolumn {
    float: left;
    padding: 0 2vw;
    margin: 0 0 .75rem 0;
}


.limited {
    max-width: 1150px;
    margin: auto;
}

.small-12 {
    width: 100%;
}


@media only screen and (min-width: 768px) {

    .medium-6 {
        width: 50%;
    }

    header img {
        height: 100px;
        float: left;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: block;
        list-style-type: none;
        align-items: baseline;
    }

    nav li {
        float: right;
        display: inline;
    }

    nav a {

        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

}

@media only screen and (min-width: 1024px) {

    .large-3 {
        width: 25%;
    }

    
}


.collapsefix::after {
    content: "";
    display: table;
    clear: both;
}